/*------------------------------CSS POUR TAILLE D'ECRAN EGALE OU INFERIEURE A 500px------------------------------*/
@media only screen and (max-width: 1200px) {

    /*------------------------------header------------------------------*/
    /*logo */
    .logo_container {
        width: 0;
    }

    .logo {
        display: none;
    }

    /*nom du club*/
    .club_name_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 50%;
    }

    .empty_column {
        width: 0;
    }

    /*------------------------------footer------------------------------*/
    .footer {
        width: 100%;
    }

    .footer tr {
        display: flex;
        flex-direction: column;
    }

    /*colonne 1 => ligne 1 : logo et slogan*/
    .footer_logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

        .footer_logo img {
            height: 200px;
            min-height: 100px;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            left: 0;
        }

        .footer_logo h3 {
            text-align: center;
            font-size: 30px;
        }

    /*colonne 2 => ligne 2 : contact*/
    .footer_contact {
        width: 100%;
    }

        .contact {
            width: 100%;
        }

        .contact_content {
            flex-direction: row;
            justify-content: space-around;
        }

        .contact_content a, .contact_content p {
            width: 200px;
        }

    /*colonne 3 => ligne 3 : Menu de navigation*/
    .footer_nav_menu {
        width: 100%;
    }

        .footer_nav_menu table {
            width: 100%;
        }

        .footer_nav_menu tr {
            width: 100%;
            flex-direction: row;
        }

        .footer_nav_menu p {
            width: 100%;
        }

        .footer_nav_menu a {
            width: 100%;
        }

        /*bouton d'accueil*/
        .back_home {
            display: block;
        }
    
    
    
    
    
    
    
    
    
    /*------------------------------PAGE D'ACCUEIL------------------------------*/

    /*------------------------------présentation des cours proposés: bébés, enfants, adultes------------------------------*/
    .presentation_sections_container tr {
        display: flex;
        flex-direction: column;
    }

    .tableau_cours img {
        width: 95%;
        min-width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    /*------------------------------présentation de l'équipe------------------------------*/
    .equipe {
        flex-direction: column;
    }

    .coach_img {
        width: 100%;
        display: flex;
    }

    .coach_img img {
        height: 300px;
        min-height: 300px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .coach_description {
        width: 100%;
    }
    
    


    /*------------------------------PAGE BEBES NAGEURS------------------------------*/
    /*image et titre du cours*/
    .titre_cours_bebes {
        height: 300px;
    }

    .titre_cours {
        font-size: 60px;
    }

    /*tableau des cours bébés nageurs*/
    #tableau_bebes_nageurs {
        width: 100%;
    }

    #tableau_bebes_nageurs tr {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .image_cours {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image_cours img{
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .description_cours {
        width: 100%;
        padding: 0;
    }

    .description_cours h2 {
        text-align: center;
    }

    .description_cours p {
        padding: 10px;
        text-align: justify;
    }


}