/*------------------------------CSS POUR TAILLE ECRAN PC-----------------------------*/

/* {
    border: 1px solid black;
}*/

html, body {
    font-family: arial, sans-serif;
}

h2 {
    font-size: 40px;
    font-family: sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

/*------------------------------Bannière et barre de navigation------------------------------*/
.banner {
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: darkblue;
    border-radius: 0 0 15px 15px;
    z-index: 100;
}

/*logo */
.logo_container {
    align-items: center;
    justify-content: center;
    width: 33%;
    padding-left: 4%;
}

.logo {
    width: auto;
    height: 150px;
    border-radius: 50%;
}

/*nom du club*/
.club_name_container {
    width: 34%;
    align-content: space-around;
}

.club_name {
    font-weight: bold;
    text-align: center;
    font-size: 64px;
    font-family: sans-serif;
    color: white;
}

/*barre de navigation */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: transparent;
}

/*boutons DE navigation*/
.nav_link {
    display: block;
    width: 100px;
    height: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    background-color: darkblue;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
    transition: all 0.5s linear;
    margin-bottom: 20px;
    margin-top: -45px;
}

.nav_link:hover {
    background-color: white;
    color: darkblue;
}

/*menu déroulant des boutons de navigation*/

/*container du menu déroulant*/
.menu_deroulant {
    position: relative;
    display: inline-block;
    transition: all 0.5s linear;
}

/*options du menu déroulant*/
.options {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 100;
    transition: all 0.5s linear;
    padding-top: 10px;
}

.menu_deroulant:hover .options {
    display: block;
}

/*style du menu déroulant*/
.options a {
    width: 200px;
    padding: 10px;
    margin-top: 5px;
    color: white;
    background-color: darkblue;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s linear;
}

.options a:hover {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}

.empty_column {
    width: 33%;
}


/*------------------------------bouton de retour en haut de page------------------------------*/
.back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: darkblue;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s linear;
    opacity: 0.5;
    z-index: 100;
}

.back_to_top:hover {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
    opacity: 1;
}

/*bouton de retour à la page d'accueil*/
.back_home {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: darkblue;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.1s ease-in;
    opacity: 0.5;
    z-index: 100;
    display: none;
}

.back_home:active {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
    opacity: 1;
}

/*------------------------------footer------------------------------*/
footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: darkblue;
    border-radius: 15px 15px 0 0;
}

/*
tableau dans le footer en 3 colonnes:
    - logo du club et slogan
    - contact: réeseaux sociaux, téléphone et mail, adresse
    - menu de navigation
*/

/*colonne 1: logo et slogan*/
.footer_logo {
    width: 20%;
    flex-direction: column;
    justify-items: center;
}

    .footer_logo img {
        width: 80%;
        height: auto;
        border-radius: 50%;
        position: relative;
        left: 10%;
    }

    /*slogan sous le logo*/
    .footer_logo h3 {
        font-size: 20px;
        justify-content: center;
        color: white;
        font-family: Lucida Calligraphy;
    }

/*colonne 2: contact*/
.footer_contact {
    width: 50%;
}

    /*tableau en 3 colonnes: réseaux, tél et mail, adresse*/
    .footer_contact table {
        height: 95%;
        width: 100%;
    }

    .contact {
        width: 33%;
    }

    /*colonne réseaux*/
    .contact_content {
        height: 90%;
        display: flex;
        flex-direction:column;
        text-align: center;
        justify-content: space-around;
    }

    .logo_reseaux {
        height: 50px;
        width: auto;
        border-radius: 15px;
        transition: all 0.5s linear;
    }

    .logo_reseaux:hover {
        transform: scale(1.1);
    }

    /*colonne téléphone et mail*/
    .contact p {
        text-align: center;
        color: white;
    }

    .contact a {
        text-decoration: none;
        color: white;
    }

    .contact a:hover {
        text-decoration:underline;
    }

/*colonne 3: menu de navigation*/
.footer_nav_menu {
    width: 30%;
}

    .footer_nav_menu table {
        height: 90%;
        display: flex;
        justify-content:space-around ;
    }

    .footer_nav_menu tr {
        height: 100%;
        display:flex;
        justify-content: space-between;
    }

    .footer_nav_menu td {
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer_nav_menu p {
        color: white;
        text-align: center;
        font-family: sans-serif;
    }

    .footer_nav_menu a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: sans-serif;
    }

    .footer_nav_menu a:hover {
        text-decoration: underline;
    }









/*------------------------------PAGE D'ACCUEIL------------------------------*/

/*--------------------------------présentation du club------------------------------*/

/*texte de présentation du club*/
.presentation {
    text-align: center;
    padding: 20px;
}


/*------------------------------présentation des cours proposés: bébés, enfants, adultes------------------------------*/

/*conteneur du tableau de présentation des cours*/
.presentation_sections_container {
    width: 100%;
    align-items: center;
}

.presentation_sections_container tr {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*tableaux de présentation des cours*/
.tableau_cours {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tableau_cours tr {
    display: flex;
    flex-direction: column;
}

.tableau_cours td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.tableau_cours img {
    display: flex;
    width: auto;
    height: 210px;
    border-radius: 15px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.tableau_cours img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
}

.tableau_cours h2 {
    width: 90%;
    margin: 0 auto 20px;
    text-align: center;
    justify-content: center;
}

.tableau_cours p {
    text-align: justify;
}

/* textes et boutons "plus d'informations" des sections: cachés par défaut, s'affichent en fondu (JS) */
.texte_cours {
    /*opacity: 0;*/
    transition: all 1s linear;
}

.plus_infos {
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    background-color: darkblue;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: all 0.5s linear;
    /*opacity: 0;*/
}

.plus_infos:hover {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}


/*------------------------------présentation de l'équipe------------------------------*/

/*conteneur principal*/
.equipe {
    display: flex;
    align-items: center;
}

/*conteneur de l'image du moniteur*/
.coach_img {
    width: 30%;
    height: auto;
    padding: 10px;
}

.coach_img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/*conteneur de la description du moniteur et du bouton "plus d'informations"*/
.coach_description {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}

.coach_description h2 {
    text-align: center;
    justify-content: center;
}

.coach_description p {
    text-align: center;
    justify-content: center;
    position: relative;
    top: -20px;
}

/*bouton "plus_infos_equipe" = ".plus_infos" mais constamment visible*/
.plus_infos_equipe {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    background-color: darkblue;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    transition: all 0.5s linear;
}

.plus_infos_equipe:hover {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}



/*------------------------------partenaires------------------------------*/
.partenaires {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.partenaires h2 {
    text-align: center;
    justify-content: center;
    width: 100%;
}
.logo_partenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.logo_partenaire img {
    width: auto;
    height: 100px;
    border-radius: 15px;
    margin: 10px;
}




/*------------------------------PAGE DES BEBES NAGEURS------------------------------*/

/*image de bébés nageurs avec le nom du cours dessus*/
.titre_cours_bebes {
    width: 100%;
    height: 600px;
    background-image: url(./images/cours_bebes_nageurs.jpg);
    background-size: cover;
    align-content: center;
    justify-content: center;
}

.titre_cours {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
}

/*texte de présentation des règles des cours*/
.texte_regles {
    text-align: center;
    font-weight: bold;
}

/*tableau de présentation des cours bébés*/
.image_cours {
    width: 15%;
    justify-content: center;
    align-content: center;
}

.image_cours img {
    width: 100%;
    border-radius: 15px;
}

.description_cours {
    width: 80%;
    height: auto;
    align-items: center;
    padding: 0 0 0 20px;
}

/*ligne du bouton d'inscription*/
.inscrire {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    background-color: darkblue;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    transition: all 0.5s linear;    
}

.inscrire:hover {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}










/*------------------------------PAGE DES COURS ENFANTS------------------------------*/

/*image de bébés nageurs avec le nom du cours dessus*/
.titre_cours_enfants {
    width: 100%;
    height: 600px;
    background-image: url(./images/cours_enfants.jpg);
    background-size: cover;
    align-content: center;
}

/*Réutilisation des mêmes paramètres pour:
     - le titre du cours sur l'image
     - le texte des règles
     - le tableau de présentation des cours
     - le bouton vers la page d'inscription
*/

/*Ajout d'une image de fond ressemblant à des lignes d'eau pour les principes d'apprentissage*/
.apprentissages {
    background-image: url(./images/une_ligne_d_eau.png);
    background-size: 100% 125px;
    height:125px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.apprentissages p {
    margin-left: 100px;
    font-weight: bold;
}










/*------------------------------PAGE DES COURS ADULTES------------------------------*/
/*image de bébés nageurs avec le nom du cours dessus*/
.titre_cours_adultes {
    width: 100%;
    height: 600px;
    background-image: url(./images/cours_adultes.jpg);
    background-size: cover;
    align-content: center;
}

/*Réutilisation des mêmes paramètres pour:
     - le titre du cours sur l'image
     - le texte des règles
     - le tableau de présentation des cours
     - le bouton vers la page d'inscription
*/









/*------------------------------PAGE D'INSCRIPTION------------------------------*/

/*image de bébés nageurs avec le nom du cours dessus*/
.titre_inscription {
    width: 100%;
    height: 600px;
    background-image: url(./images/plongeon_page_inscription.jpg);
    background-size: cover;
    align-content: center;
}

/*Réutilisation des mêmes paramètres que pour le titre du cours sur l'image*/

/*image de l'emploi du temps*/
.emploi_du_temps {
    width: 90%;
}

/*------------------------------formulaire d'inscription------------------------------*/

/*titre*/
.formulaire {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}
/*taille général des formulaires*/
form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/*tableau*/
.inscription {
    width: 100%;
}

.inscription_in {
    width: 100%;
}
.inscription_in td {
    padding: 20px 10px;
}

/*style des étiquettes*/
label {
    text-align: left;
    padding: 10px 10px;
    font-size: 20px;
    font-family: sans-serif;
}


/*champs à remplir et selecteur*/
input[type=text],[type=date], [type=email], [type=number] {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid darkblue;
    background: none;
    padding: 10px 10px;
    font-size: 20px;
    font-family: sans-serif;
    outline: none;
}

/*ligne des informations pour le tuteur*/
/*.tuteur {
    display: none;
    transition: all 0.5s linear;
}*/

/*div de selection du cours caché jusqu'au clic sur le bouton "passer à la selection du cours"*/
.selection_du_cours {
    display: none;
    transition:all 05s linear; 
}

select {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid darkblue;
    background: none;
    padding: 10px 10px;
    font-size: 20px;
    font-family: sans-serif;
    outline: none;
}

/*optgroup avec fond bleu et écriture blanche*/
#matin, #midi, #apres_midi, #soir, 
#niveaux_bebes_nageurs, #niveaux_cours_enfants, #niveaux_cours_adultes {
    background-color: darkblue;
    color: white;
}

option {
    background-color: lightgray;
    color: black;
}

/*placement des selecteurs de niveaux au même endroit*/
/*#niveaux_bebes_nageurs, #niveaux_cours_enfants, #niveaux_cours_adultes, #niveau, #creneau, #bouton_de_confirmation {
    display: none;
}*/

/*bouton de confirmation similaire aux autres boutons du site*/
button {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    background-color: darkblue;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    transition:  all 0.5s linear;
}

button:hover {
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}









/*------------------------------PAGE DE CONTACT------------------------------*/
/*image de l'équipe avec le nom de la page dessus*/
.titre_contact {
    width: 100%;
    height: 600px;
    background-image: url(./images/equipe_complete.png);
    background-size: cover;
    align-content: center;
}

.titre_cours_contact {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
}

/*Réutilisation des mêmes paramètres pour:
     - le formulaire de contact
*/

textarea {
    width: 80%;
    height: 200px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid darkblue;
    background: none;
    padding: 10px 10px;
    font-size: 20px;
    font-family: sans-serif;
    outline: none;
}

.lien_contact {
    text-decoration: none;
    color: darkblue;
}

.lien_contact:hover {
    text-decoration: underline;
}

.maps_frame {
    text-align: center;
}

iframe {
    width: 90%;
    height: 300px;
    border: none;
    border-radius: 15px;
}









/*------------------------------PAGE NOTRE EQUIPE------------------------------*/
/*reprise du code utilisé pour la page bébés nageurs:
.image_cours {
    width: 15%;
    justify-content: center;
    align-content: center;
}

.image_cours img {
    width: 100%;
    border-radius: 15px;
}

.description_cours {
    width: 80%;
    height: auto;
    align-items: center;
    padding: 0 0 0 20px;
}*/









/*------------------------------PAGE NOTRE HISTOIRE------------------------------*/
/*image de fond d'une piscine avec le titre dessus*/
.image_de_fond_notre_histoire {
    width: 100%;
    height: 600px;
    background-image: url(./images/piscine.png);
    background-size: cover;
    align-content: center;
}

.titre_notre_histoire {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
}

.div_notre_histoire {
    padding: 20px;
}

.div_notre_histoire h2 {
    text-align: center;
}

.div_notre_histoire p {
    text-align: justify;
}
